
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	background-image: url("/media/background.jpg");
}

div.header-gradient {
    background-image: -webkit-linear-gradient( 90deg, rgb(219,123,30) 0%, rgba(199,130,21,0) 100%);
}

div.form-wrapper {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	display: block;
	width: 700px;
	height: 400px;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}

.form-wrapper .form-block {
	display: block;
	width: 100%;
	height:100%;

	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 14px;
	color: white;

}

.form-block > .step-header {
	display: block;
	position: relative;
	width: 100%;
	height: 70px;
	border-radius: 10px;
	background-color: #f6b905;
	padding-top: 25px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.form-block > .step-body {
	display: block;
	margin-top:  -10px;
	width: 100%; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 169px;
	padding: 10px;
	background-color: #dedede;
	margin-bottom: 5px;
	color: black;
}

input.small {
	height: 30px;
}
.no-margin {
	margin: 0;
}

.form-group.margin-small{
	margin-bottom: 0.3rem;
}

.custom-button {
	background-color: #5e58ad;
	color: white;
	width: 90px;
	border-radius: 15px;
}

textarea[name="comments"] {
	min-height: 90px;
}